.footer-container{
    background-color: #A0E8FF;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    box-sizing: border-box;
}

.footer-container-left{
    display: flex;
    padding: 20px;
    float: left;
}
.footer-container-right{
    display: flex;
    padding: 20px;
    float: right;
}

.footer-item-container{
    padding: 30px;
}