.page-content{
    height: 80vh;
}

[data-theme="dark"],
[data-theme="dark"] * {
    background: #1a1a2e;
    color: #e0e0e0;
}

[data-fontsize="large"] {
    font-size: 1.2rem;
}

[data-fontsize="xlarge"] {
    font-size: 1.4rem;
}