.page-container{
    background-color: #8181fa;
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
}
.banner{
    height: 60vh; /* Adjust height as needed */
    text-align: center;
    color: white;
}


.banner img {
    width: 100%;
    height: 100%;
    object-fit:contain; /* THIS is the magic */
}