.page-container{
    background-color: #8181fa;
    width: 100%;
    height: 30vh;
    display: flex;
    align-items: center;
}
.banner{
    height: 80vh; /* Adjust height as needed */
    text-align: center;
    color: white;
}


.banner img {
    width: 100%;
    height: 100%;
}