.nav-container{
    background-color: #8181fa;
    width: 100%;
    height: 10vh;
    position: fixed;
    z-index: 10000;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nav-container-left{
    display: flex;
    padding: 20px;
    float: left;
}
.nav-container-right{
    display: flex;
    padding: 20px;
    float: right;
}

.nav-item-container{
    padding: 30px;
}